body {
    margin: 0;
    padding: 0;
    width: 100%;
}

table {
    width: 100%;
}

table thead {
    background-color: #eee;
    text-align: center;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}